.cart-item-display {
  margin-top: 20px;
  margin-left: 40px;
  color: #fffafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.image-in-cart {
  width: 80px;
  height: 100px;
  margin-right: 10px;
}
.price-sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  color: #303030;
}
.delete-button {
  background-color: black;
  color: #303030;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
}
.product-title {
  font-size: 20px;
}
.quantity {
  color: #303030;
}
